Repository kodverk/open-api, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“Œ area: docs, ğŸ“š documentation, ğŸ“Œ area: ci

.github/labeler.yml:

"ğŸ“Œ area: docs":
  - any: ["docs/**/*"]

"ğŸ“š documentation":
  - any: ["docs/**/*"]
  - any: ["**/*.md"]

"ğŸ“Œ area: ci":
  - any: [".github/**/*"]

misc: disable eslint and ts during build
  docs/next.config.mjs
Labels: ğŸ“Œ area: docs, ğŸ“š documentation

misc: disable eslint and ts during build (#23)
  docs/next.config.mjs
Labels: ğŸ“Œ area: docs, ğŸ“š documentation

Co-authored-by: Viktor Malmedal <JohnVicke@users.noreply.github.com>
  .changeset/config.json
  .github/workflows/release-canary.yaml
  CODE_OF_CONDUCT.md
  packages/open-api-umea/CHANGELOG.md
  packages/open-api-umea/src/index.ts
  packages/umea-open-api/CHANGELOG.md
  packages/umea-open-api/package.json
  packages/umea-open-api/src/index.ts
  packages/umea-open-api/src/public-beaches/index.ts
  packages/umea-open-api/src/public-beaches/types/incoming-response.ts
  packages/umea-open-api/src/public-beaches/types/outgoing-response.ts
  packages/umea-open-api/src/utils/typed-fetch.ts
  packages/umea-open-api/test/smoke.test.ts
  packages/umea-open-api/tsconfig.json
  packages/umea-open-api/tsup.config.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: ğŸ“š documentation, ğŸ“Œ area: ci

removed main function
  packages/umea-open-api/src/index.ts
Labels: none

fix: remove smoke test
  packages/umea-open-api/test/smoke.test.ts
Labels: none

misc: add faker js
  packages/umea-open-api/package.json
  pnpm-lock.yaml
Labels: none

refactor: move umea open api to file
  packages/umea-open-api/src/index.ts
  packages/umea-open-api/src/umea-open-api.ts
Labels: none

feat: create custom fetch error
  packages/umea-open-api/src/utils/custom-errors.ts
  packages/umea-open-api/src/utils/typed-fetch.ts
Labels: none

misc: format
  packages/umea-open-api/src/public-beaches/index.ts
Labels: none

misc: format
  packages/umea-open-api/src/public-beaches/types/outgoing-response.ts
Labels: none

feat: export types to user
  packages/umea-open-api/src/public-beaches/types/index.ts
Labels: none

misc: format
  packages/umea-open-api/src/public-beaches/types/incoming-response.ts
Labels: none

test: add tests for wrapper
  packages/umea-open-api/src/public-beaches/__test__/fetch-public-beaches.test.ts
Labels: none

chore: add changeset
  .changeset/pretty-jeans-do.md
Labels: ğŸ“š documentation

feat: create api wrapper for public beaches (#26)
  .changeset/config.json
  .changeset/pretty-jeans-do.md
  .github/workflows/release-canary.yaml
  CODE_OF_CONDUCT.md
  packages/open-api-umea/CHANGELOG.md
  packages/open-api-umea/src/index.ts
  packages/open-api-umea/test/smoke.test.ts
  packages/umea-open-api/CHANGELOG.md
  packages/umea-open-api/package.json
  packages/umea-open-api/src/index.ts
  packages/umea-open-api/src/public-beaches/__test__/fetch-public-beaches.test.ts
  packages/umea-open-api/src/public-beaches/index.ts
  packages/umea-open-api/src/public-beaches/types/incoming-response.ts
  packages/umea-open-api/src/public-beaches/types/index.ts
  packages/umea-open-api/src/public-beaches/types/outgoing-response.ts
  packages/umea-open-api/src/umea-open-api.ts
  packages/umea-open-api/src/utils/custom-errors.ts
  packages/umea-open-api/src/utils/typed-fetch.ts
  packages/umea-open-api/tsconfig.json
  packages/umea-open-api/tsup.config.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: ğŸ“š documentation, ğŸ“Œ area: ci

fix: update compiler options
  packages/umea-open-api/src/index.ts
  packages/umea-open-api/tsconfig.json
  packages/umea-open-api/tsconfig.sourcemap.json
  packages/umea-open-api/tsup.config.ts
Labels: none

chore: add changeset
  .changeset/tricky-olives-collect.md
Labels: ğŸ“š documentation

remove console log
  packages/umea-open-api/src/index.ts
Labels: none

fix: update config
  packages/umea-open-api/tsconfig.json
  packages/umea-open-api/tsconfig.sourcemap.json
Labels: none

updated readme
  README.md
Labels: ğŸ“š documentation

misc: add deps
  docs/package.json
  package.json
  pnpm-lock.yaml
Labels: ğŸ“Œ area: docs, ğŸ“š documentation

wip: traverase unist tree...
  docs/next.config.mjs
Labels: ğŸ“Œ area: docs, ğŸ“š documentation

wip: add copy buttons
  docs/src/mdx-components.tsx
Labels: ğŸ“Œ area: docs, ğŸ“š documentation

feat: add unist types
  docs/src/types/unist.ts
Labels: ğŸ“Œ area: docs, ğŸ“š documentation

wip: rehypeNpmCommand
  docs/src/lib/rehype-npm-command.ts
Labels: ğŸ“Œ area: docs, ğŸ“š documentation

fix: remove console log
  docs/src/components/sidebar.tsx
Labels: ğŸ“Œ area: docs, ğŸ“š documentation

feat: add new icons
  docs/src/components/icons.tsx
Labels: ğŸ“Œ area: docs, ğŸ“š documentation

feat: add dropdown-menu
  docs/src/components/ui/dropdown-menu.tsx
Labels: ğŸ“Œ area: docs, ğŸ“š documentation

feat: add copy buttons with logic
  docs/src/components/mdx/copy-button.tsx
Labels: ğŸ“Œ area: docs, ğŸ“š documentation

feat: only render code in code-block
  docs/src/components/mdx/code-block.tsx
Labels: ğŸ“Œ area: docs, ğŸ“š documentation

wip: test random commands
  docs/src/app/docs/public-beaches/page.mdx
Labels: ğŸ“Œ area: docs, ğŸ“š documentation

test: add random code block
  docs/src/app/docs/public-beaches/page.mdx
Labels: ğŸ“Œ area: docs, ğŸ“š documentation

fix: grug developer say complexity bad
  docs/next.config.mjs
  docs/package.json
  docs/src/components/mdx/code-block.tsx
  docs/src/components/mdx/copy-button.tsx
  docs/src/lib/rehype-npm-command.ts
  docs/src/mdx-components.tsx
  docs/src/types/npm-commands.ts
  docs/src/types/unist.ts
  pnpm-lock.yaml
Labels: ğŸ“Œ area: docs, ğŸ“š documentation

misc: format css
  docs/src/styles/globals.css
  package.json
Labels: ğŸ“Œ area: docs, ğŸ“š documentation

feat: add copy select menu (#32)
  docs/package.json
  docs/src/app/docs/public-beaches/page.mdx
  docs/src/components/icons.tsx
  docs/src/components/mdx/code-block.tsx
  docs/src/components/mdx/copy-button.tsx
  docs/src/components/sidebar.tsx
  docs/src/components/ui/dropdown-menu.tsx
  docs/src/mdx-components.tsx
  docs/src/styles/globals.css
  docs/src/types/npm-commands.ts
  package.json
  pnpm-lock.yaml
Labels: ğŸ“Œ area: docs, ğŸ“š documentation
